@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,94,100..900;1,94,100..900&family=Sunflower:wght@300&display=swap');

body{
    font-family: "Noto Sans", sans-serif;
}

h1, h2, h3, h4, .logo-font{
    font-family: "Sunflower", sans-serif;
}
/* 네비게이션  */
.nav-link.active,
.nav-link:hover{
    color: darkblue !important;
    font-weight: bold;
}

/* 포트폴리오 섹션 */
.card-img-top{
    transition: transform .8s;
}

.card-img-top:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.banner {
    background-image: url(../images/card-banner.jpg);
    background-attachment: fixed;

}

/* 푸터 섹션 */
a{
    text-decoration: none;
    color: white;
}

/* 연락처 섹션 */
.contact-bg{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(../images/contact-bg.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}